/* .choose {
  margin: 1px;
  max-width: 112px;
  min-width: 90px;
  overflow: hidden;
} */

.choose-container {
  position: relative;
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
}

.choose {
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  /* appearance: none; */
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
  /* cursor: pointer; */
}

.choose-select::-ms-expand {
  display: none;
}

.choose-placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #999;
}
