.inputnone {
  background: none;
  border: none;
  /* width: 30px; */
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  transition: border-color 0.2s ease-in-out;
  text-align: center;
  pointer-events: none;
}

.camuty_table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  display: flex;
  flex-wrap: wrap;
}

.row {
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border: 1px solid cyan; */
}
