.radioAns_container {
  direction: rtl;
  margin-right: 20px;
  width: 80%;
  height: 100%;
  justify-content: space-between;
}
.thead {
  justify-content: space-between;
  background-color: #f1f1f1;
}
.radio_body {
  justify-content: center;
  align-items: center;
}

.cell {
  /* display: table-cell; */
  justify-content: center;
  text-align: center;
  background-color: #fff;
}

th {
  font-size: medium;
}

td {
  font-size: medium;
}
