 .vocabularyContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4%;
}

.word{
  margin: 1px;
  background-color: var(--bg-thirdary-color);
  border: solid 0.1px black;
  font-size: var(--font-size-label);
  color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 54.5vw;
  align-items: center;

}

.word:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.translation {
  background-color: #ff7589;
  color: white;
  font-size: var(--font-size-label);
  height: 47.8%;
  align-items: center;
  text-align: center;
  width: 54.5vw;
  border: solid 0.1px black;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  /* margin-top: 5px; */
}
