.navbar_container {
  height: 100%;
  width: 10%;
  display: flex;
  flex-direction: column;
  direction: rtl;
  padding: 1%;
  background-color: var(--bg-fourthdary-color);
  transition: width 0.3s ease-in-out;
  /* transform: scaleY(0); */
  /* transform: scaleY(1); */
}
